body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}

header {
    background-color: #59858a;
    color: #FFFFFF;
    padding: 8px;
    text-align: center;
}

footer {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}